<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JNURCA--你值得信赖</title>
    <meta name="description" content="JNUECA">
    <meta name="keywords" content="交流，分享，技术，生活">
    <link rel="icon" href="https://www.bilibili.com/favicon.ico">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

    <!-- Scripts -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery.scrolly.min.js"></script>
    <script src="./js/jquery.dropotron.min.js"></script>
    <script src="./js/jquery.scrollex.min.js"></script>
    <script src="./js/skel.min.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/main.js"></script>
</head>

<body class="landing">
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="#">JNURCA</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="./index.html">首页</a></li>
                    <li><a href="#" onclick="a('/detail.html')">详情</a></li>
                    <li><a href="#" onclick="a('./persional.html')">个人中心</a></li>
                    <li><a href="#" class="button special" onclick="a('/login.html')">登录</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <!-- 把请求到的内容加载到页面中 -->
    <div id="center">

        <!-- 首页 -->

        <!-- Banner -->
        <section id="banner">
            <div class="content">
                <span class="image">
                    <div class="img-content">
                        <img src="./image/index/头像.jpg" alt="这是我们" />
                    </div>
                </span>
                <header>
                    <h2>派小星の泡芙</h2>
                    <p>千里之行，始于足下！
                        <br>我才不要那么没用！！
                    </p>
                </header>
            </div>
            <a href="#one" class="goto-next scrolly">Next</a>
        </section>

        <!-- One -->
        <section id="one" class="spotlight style1 bottom">
            <span class="image fit main">
                <img src="./image/index/2.jpg" alt="关于我们" />
            </span>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="4u 12u$(medium)">
                            <header>
                                <h2>关于我们</h2>
                                <p>一个一天PV只有1000的小站，但还是想要好好做下去....</p>
                            </header>
                        </div>
                        <div class="4u 12u$(medium)">
                            <p>公告：
                                <br />提供各种动漫网站源码的下载，弹幕网，个人引导页，导航网站...
                            </p>
                        </div>
                        <div class="4u$ 12u$(medium)">
                            <p>开源鸭起始:
                                <br />成立于2020年六一儿童节，目标是建设国内
                                <br />最大的二次元资源站，并在为此努力的路上。
                                <br />我们分享来自全球的动漫资源，无门槛下载
                                <br />资源给你最佳的体验。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#two" class="goto-next scrolly">Next</a>
        </section>

        <!-- Two -->
        <section id="two" class="spotlight style2 right">
            <span class="image fit main">
                <img src="./image/index/3.jpg" alt="" /></span>
            <div class="content">
                <header>
                    <h2>源码下载、互动小站</h2>
                    <p>这个是源码资源下载站！</p>
                </header>
                <p>还希望大家多多投稿！
                    <br />其实还是每天按时审核的呢！
                <ul class="actions">
                    <li><a href=" " class="button">进入开源鸭</a></li>
                </ul>
            </div>
            <a href="#three" class="goto-next scrolly">Next</a>
        </section>

        <!-- Three -->
        <section id="three" class="spotlight style3 left">
            <span class="image fit main bottom"><img src="./image/index/4.jpg" alt="" /></span>
            <div class="content">
                <header>
                    <h2>源码</h2>
                    <p>一个最近才开始涉及的板块！</p>
                </header>
                <p>各种动漫网站源码的下载，弹幕网，个人引导页，导航网站，只要是动漫风的网页都很喜欢！</p>
                <ul class="actions">
                    <li><a href=" " class="button">进入萌源码</a></li>
                </ul>
            </div>
            <a href="#four" class="goto-next scrolly">Next</a>
        </section>

        <!-- Four -->
        <section id="four" class="wrapper style1 special fade-up">
            <div class="container">
                <header class="major">
                    <h2>网站设计</h2>
                    <p>CV时长两年半的练习生！</p>
                </header>
                <div class="box alt">
                    <div class="row uniform">
                        <section class="4u 6u(medium) 12u$(xsmall)">
                            <div class="fa_icon">
                                <span class="icon alt major spinner_01">
                                    <img src="./image/index/kapok.jpg" alt="" />
                                    <div class="hobby_img_info">
                                        <h1>绘画</h1>
                                        <h2>手绘&素描</h2>
                                    </div>
                                </span>
                            </div>
                            <h3 style="text-align: center;">CG</h3>
                            <p>入坑作《Clannad》。虽然喜欢画画，奈何长了一双毫无用处的手。无论今后遇到什么难题，我都选择吃饭、睡觉、打豆豆。</p>
                        </section>
                        <section class="4u 6u$(medium) 12u$(xsmall)">
                            <div class="fa_icon">
                                <span class="icon alt major spinner_02">
                                    <img src="./image/index/acg.jpg" alt="" />
                                    <div class="hobby_img_info">
                                        <h1>动漫</h1>
                                        <h2>漫画&轻小说</h2>
                                    </div>
                                </span>
                            </div>
                            <h3 style="text-align: center;">ACG</h3>
                            <p>最爱的动漫《火影忍者》。幻术中的世界有什么不好？沉浸在永恒万花筒的黑暗中吧！伊邪娜美！</p>
                        </section>
                        <section class="4u$ 6u(medium) 12u$(xsmall)">
                            <div class="fa_icon">
                                <span class="icon alt major spinner_03">
                                    <img src="./image/index/reading.jpg" alt="" />
                                    <div class="hobby_img_info">
                                        <h1>音乐</h1>
                                        <h2>乐器&Midi</h2>
                                    </div>
                                </span>
                            </div>
                            <h3 style="text-align: center;">Music</h3>
                            <p>最喜欢的乐器：钢琴。想制作Future Bass音乐。世界太大，生命这样短，要尽量活成自己想要的样子。</p>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <!-- Five -->
        <section id="five" class="wrapper style2 special fade">
            <div class="container">
                <header>
                    <h2>联系方式</h2>
                    <p>这里是我的联系方式哦</p>
                </header>
            </div>
            <p>邮箱：QQ邮箱@QQ.com</p>
            <p>QQ：QQ号</p>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; 2000-2023 Blue dot net All Rights Reserved</li>
                <li>Design: <a>LOGOBAKERY</a></li>
                <div
                    style="text-decoration:none; height:20px; margin-top: 20px; line-height:20px; text-align:center;display:flex;justify-content: center;">
                    <img src="https://www.nanningcloud.com/Uploads/2022-10-30/bg_logo.nanningcloud.png" />
                    <p style="height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">沪ICP备000000号-</p>
                </div>
            </ul>
        </footer>
    </div>

    <!-- 音乐播放器代码 -->

</body>

<script>
    // 使用ajax对页面的内容进行请求
    function a(url) {
        $.get(url, function (data) {
            $("#center").html(data)
        });
    }
</script>

</html>